#pins.container.transitions-enabled
  .row
    - @pins.each do |pin|
      %div.panel.panel-default
        = link_to pin do
          %div.panel-body
            = image_tag pin.image.url(:thumb), class: "img-responsive"
          %div.panel-footer
            %p.heading= pin.name
            %p.description
              = pin.description
              %br/
              %span.heart
                %i.glyphicon.glyphicon-comment{:class=> ('red' if pin.comments.size > 0)}
                = pin.comments.size
                %i.glyphicon.glyphicon-heart{:class=> ('red' if pin.get_likes.size > 0)}
                = pin.get_likes.size
            %p.user
              = image_tag "/img/blankavatar.jpg", class: "img-circle"
              = pin.user.name
