!!!
%html
  %head
    %title
      Workout Pinterest
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button{:type => 'button', :class=>'navbar-toggle collapsed', "data-toggle"=>"collapse", "data-target"=>"#navbar", "aria-expanded"=>"false", "aria-controls"=>"navbar" }
            %span.sr-only
              Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a{:href => root_path, :class => 'navbar-brand'}
            Workout Pinterest
        %div#navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to 'New Pin', new_pin_path
              %li= link_to 'My Account', edit_user_registration_path
              %li= link_to 'Log out', destroy_user_session_path, method: :delete
            - else
              %li= link_to 'Sign in', new_user_session_path
              %li= link_to 'Register', new_user_registration_path

    .container.main
      .row
        .col-sm-12
          = render 'layouts/notice'
          = yield

